#pageContent {
  display: flex;

  h1 {
    margin-left: .5em;
  }
  
  #mostPopularUsers {
    flex: 0.3;
    margin-right: 1em;
  }


  #forPost {
    flex: auto;
    border-left: 3px solid #999;

    #postRankedByNumberOfShare,
    #postFromFollowed {
      border-top: 3px solid #999;
      margin-top: .5em;
      padding-bottom: .5em;
    }

    #mostRecentPost,
    #postRankedByNumberOfShare,
    #postFromFollowed {
      display: grid;
      padding-left: .5em;
      padding-right: .5em;

      h1 {
        margin-top: .75em;
        margin-bottom: .75em;
      }
    }
  }
}

